<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 1. 导入vue的脚本文件 -->
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <p v-if="num > 0.5">随机数 > 0.5</p>
        <p v-else>随机数 <= 0.5</p>

        <hr/>
        <p v-if="type === 'A'">优秀</p>
        <p v-else-if="type === 'B'">良好</p>
        <p v-else-if="type === 'C'">一般</p>
        <p v-else>差</p>

        <div v-show="a">
            测试
        </div>
        <button @click="a=!a">点击</button>
        
    </div>

    <script>
        const vm = {
            // data选项后面为数据源
            data: function () {
                return {
                    // 生成1以内的随机数
                    num: Math.random,
                    type: 'A',
                    a: true
                }
            }
        }

        const app = Vue.createApp(vm)
        app.mount('#app');
    </script>
</body>

</html>